.dashboard
  .dashboard__pick(ng-if="!dashboard.city")
    h2 {{ 'dashboard.pick.heading' | translate }}
    p {{ 'dashboard.pick.description' | translate }}
    
    .dashboard__pick__form(ng-init="dashboard.selectedCity = null")
      ui-select(fix-focus, ng-model="dashboard.selectedCity", on-select="dashboard.selectCity($item)")
        ui-select-match(placeholder="Search a city...")
          span(ng-bind="$select.selected.name")
        ui-select-choices(repeat="city in dashboard.cities", 
                          refresh="dashboard.cityLookup($select.search)",
                          refresh-delay="200")
          span(ng-bind="city.name")

    p.text-left.dashboard__pick__examples(ng-bind-html="'dashboard.pick.examples' | translate")
    
    
  .dashboard__view(ng-if="dashboard.city")
    leaflet.dashboard__view__map(center="dashboard.map.center", tiles="dashboard.map.tiles", defaults="dashboard.map.defaults")
    .dashboard__view__current-price-per-sqm(ng-show="dashboard.showCurrentPricePerSqm()")
      | {{ dashboard.currentPricePerSqm() | number:2 }}&nbsp;€/m²
    .dashboard__view__context(ng-class="{ 'dashboard__view__context--open': dashboard.showContext }")
      .dashboard__view__context__heading 
        h2(ng-bind-html=" 'dashboard.context.heading.name' | translate:dashboard.city ")
        .text-muted(ng-bind-html="'dashboard.context.heading.total' | translate:dashboard.city")
        button.dashboard__view__context__heading__toggler(ng-click="dashboard.showContext = !dashboard.showContext")          
          span(ng-hide="dashboard.showContext")
            i.fa.fa-arrow-up.fa-fw
            | &nbsp;{{ 'dashboard.context.toggler.off' | translate }}
          span(ng-show="dashboard.showContext")
            i.fa.fa-arrow-down.fa-fw
            | &nbsp;{{ 'dashboard.context.toggler.on' | translate }}
      
      .dashboard__view__context__body      
        .dashboard__view__context__body__ranking(ng-show="dashboard.city.neighborhoods")
          h4(ng-bind="'dashboard.context.neighborhoods.title' | translate")
          p.small.text-muted   
            | {{ 'dashboard.context.neighborhoods.description' | translate }}
          ul.list-unstyled
            li.dashboard__view__context__body__ranking__item(ng-repeat="neighborhood in dashboard.city.neighborhoods | orderBy:'-avgPricePerSqm' ")
              span.dashboard__view__context__body__ranking__item__bar(ng-style="dashboard.itemBarStyle(neighborhood, dashboard.city.neighborhoods)")
              span.dashboard__view__context__body__ranking__item__label
                | {{ neighborhood.name }}
                span.dashboard__view__context__body__ranking__item__label__price
                  | {{ neighborhood.avgPricePerSqm | number:1 }}
                  span(ng-show="$first")&nbsp;€/m²
        
        .dashboard__view__context__body__months(ng-show="dashboard.city.months.length")
          h4(ng-bind="'dashboard.context.months.title' | translate")
          p.small.text-muted   
            | {{ 'dashboard.context.months.description' | translate }}
          rent-price-changes(months="dashboard.city.months")
          
        .dashboard__view__context__body__ranking.dashboard__view__context__body__ranking--avg-price-per-sqm
          h4(ng-bind="'dashboard.context.avg.title' | translate")
          p.small.text-muted   
            | {{ 'dashboard.context.avg.description' | translate }}
          ul.list-unstyled
            li.dashboard__view__context__body__ranking__item(ng-repeat="city in ::dashboard.getRanking('avgPricePerSqm') | filter:{visible: true}",
                                                             ng-class="{ active: city.name === dashboard.city.name }")
              span.dashboard__view__context__body__ranking__item__bar(ng-style=":: dashboard.itemBarStyle(city, dashboard.getRanking('avgPricePerSqm') )")
              span.dashboard__view__context__body__ranking__item__label
                span.label {{ city.rank }}
                span {{ city.name }}
                span.dashboard__view__context__body__ranking__item__label__price
                  | {{ city.avgPricePerSqm | number:1 }}
                  span(ng-show="$first")&nbsp;€/m²
          
        .dashboard__view__context__body__ranking.dashboard__view__context__body__ranking--inequality-index
          h4(ng-bind="'dashboard.context.index.title' | translate")
          p.small.text-muted   
            | {{ 'dashboard.context.index.description' | translate }}
          ul.list-unstyled
            li.dashboard__view__context__body__ranking__item(ng-repeat="city in ::dashboard.getRanking('inequalityIndex') | filter:{visible: true}",
                                                             ng-class="{ active: city.name === dashboard.city.name }")
              span.dashboard__view__context__body__ranking__item__bar(ng-style=":: dashboard.itemBarStyle(city, dashboard.getRanking('inequalityIndex'), 'inequalityIndex')")
              span.dashboard__view__context__body__ranking__item__label
                span.label {{ city.rank }}
                span {{ city.name }}
                span.dashboard__view__context__body__ranking__item__label__price
                  | {{ city.inequalityIndex | number:2 }}
                  
                  
