.dashboard
  .dashboard__pick(ng-if="!dashboard.city")
    h2 Get insights about your city
    p We analysed thousands of flats all around Europe. What about your city?        
    
    .dashboard__pick__form(ng-init="dashboard.selectedCity = null")
      ui-select(fix-focus, ng-model="dashboard.selectedCity", on-select="dashboard.selectCity($item)")
        ui-select-match(placeholder="Search a city...")
          span(ng-bind="$select.selected.name")
        ui-select-choices(repeat="city in dashboard.cities", 
                          refresh="dashboard.cityLookup($select.search)",
                          refresh-delay="200")
          span(ng-bind="city.name")

    p.text-left.dashboard__pick__examples
      | Examples: <a ui-sref="main.dashboard({city: 'paris'})">Paris</a>, 
      | <a ui-sref="main.dashboard({city: 'berlin'})">Berlin</a>
      | or <a ui-sref="main.dashboard({city: 'copenhagen'})">Copenhagen</a>.
    
    
  .dashboard__view(ng-if="dashboard.city")
    leaflet.dashboard__view__map(center="dashboard.map.center", tiles="dashboard.map.tiles", defaults="dashboard.map.defaults")
    .dashboard__view__context
      .dashboard__view__context__heading 
        h2 {{ dashboard.city.name }} <span class="text-muted">at a glance</span>
        .text-muted We analysed {{ dashboard.city.total | number }} flats in this city
      .dashboard__view__context__body
      
        .dashboard__view__context__body__ranking(ng-show="dashboard.city.neighborhoods")
          h4 Most expensive neighborhoods
          p.small.text-muted   
            | Prices represent the average price for new rental contracts in 
            | the last 6 months within 2 kilometers of the center of each neighborhood.
          ul.list-unstyled
            li.dashboard__view__context__body__ranking__item(ng-repeat="neighborhood in dashboard.city.neighborhoods | orderBy:'-avgPricePerSqm' ")
              span.dashboard__view__context__body__ranking__item__bar(ng-style="dashboard.itemBarStyle(neighborhood, dashboard.city.neighborhoods)")
              span.dashboard__view__context__body__ranking__item__label
                | {{ neighborhood.name }}
                span.dashboard__view__context__body__ranking__item__label__price
                  | {{ neighborhood.avgPricePerSqm | number:1 }}
                  span(ng-show="$first")&nbsp;€/m²
        
        .dashboard__view__context__body__months(ng-show="dashboard.city.months.length")
          h4 Rent price changes
          p.small.text-muted   
            | Average rent price for a new rental contract within 10km of Düsseldorf. 
            | The gray area indicates the margin of error.
          rent-price-changes(months="dashboard.city.months")
          
        .dashboard__view__context__body__ranking.dashboard__view__context__body__ranking--avg-price-per-sqm
          h4 Most expensive cities
          p.small.text-muted
            | Prices represent the average price for 
            | new rental contracts in the last 6 months.
          ul.list-unstyled
            li.dashboard__view__context__body__ranking__item(ng-repeat="city in ::dashboard.getRanking('avgPricePerSqm') | filter:{visible: true}",
                                                             ng-class="{ active: city.name === dashboard.city.name }")
              span.dashboard__view__context__body__ranking__item__bar(ng-style=":: dashboard.itemBarStyle(city, dashboard.getRanking('avgPricePerSqm') )")
              span.dashboard__view__context__body__ranking__item__label
                span.label {{ city.rank }}
                span {{ city.name }}
                span.dashboard__view__context__body__ranking__item__label__price
                  | {{ city.avgPricePerSqm | number:1 }}
                  span(ng-show="$first")&nbsp;€/m²
          
        .dashboard__view__context__body__ranking.dashboard__view__context__body__ranking--inequality-index
          h4 Urban Inequality Index
          p.small.text-muted
            | The Urban inequality index measures the difference in prices 
            | between expensive neighborhoods and cheaper ones. 
            | 0 means that prices are equal across the whole city.    
          ul.list-unstyled
            li.dashboard__view__context__body__ranking__item(ng-repeat="city in ::dashboard.getRanking('inequalityIndex') | filter:{visible: true}",
                                                             ng-class="{ active: city.name === dashboard.city.name }")
              span.dashboard__view__context__body__ranking__item__bar(ng-style=":: dashboard.itemBarStyle(city, dashboard.getRanking('inequalityIndex'), 'inequalityIndex')")
              span.dashboard__view__context__body__ranking__item__label
                span.label {{ city.rank }}
                span {{ city.name }}
                span.dashboard__view__context__body__ranking__item__label__price
                  | {{ city.inequalityIndex | number:2 }}
                  
                  
