.dashboard {

  margin-top:@navbar-height;

  &__pick {
    max-width:550px;
    padding:60px 20px;
    margin:auto;
    text-align: center;

    animation: blur-in 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
}
