.dashboard
  .dashboard__pick(ng-if="!dashboard.city")
    h2 Get insights about your city
    p We analysed thousands of flats all around Europe. What about your city?        
    
    .dashboard__pick__form(ng-init="dashboard.selectedCity = null")
      ui-select(fix-focus, ng-model="dashboard.selectedCity", on-select="dashboard.selectCity($item)", autofocus="true")
        ui-select-match(placeholder="Search a city...")
          span(ng-bind="$select.selected.name")
        ui-select-choices(repeat="city in dashboard.cities", 
                          refresh="dashboard.cityLookup($select.search)",
                          refresh-delay="200")
          span(ng-bind="city.name")

    p.text-left.dashboard__pick__examples
      | Examples: <a ui-sref="main.dashboard({city: 'paris'})">Paris</a>, 
      | <a ui-sref="main.dashboard({city: 'berlin'})">Berlin</a>
      | or <a ui-sref="main.dashboard({city: 'geneva'})">Geneva</a>.
    
    
  .dashboard__view(ng-if="dashboard.city")
    leaflet.dashboard__view__map(center="dashboard.map.center", tiles="dashboard.map.tiles", defaults="dashboard.map.defaults")
    .dashboard__view__context
