.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref="main")   
        img(src="assets/images/site-logo.svg", height="80px", alt="Rentswatch")

    #navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        li(ui-sref-active="active")
          a(ui-sref='main') Do you pay the right rent?
