.navbar {

  .transition(.7s);

  &.ng-hide {
    opacity:0;
    .translate(0, -100%);
  }


  &-brand {
    padding:5px 20px;
    img {
      max-height:@navbar-height - 10px;
    }
  }

  .dropdown .dropdown-menu {
    text-align: center;
    min-width:120px;
  }

  & &-nav > li > a {
    &:hover, &:active, &:focus {
      color:white;
    }
  }

  & &-nav > li.active a {
    .box-shadow(1px 1px 6px 0 black inset);
  }

}
