.navbar.navbar-default.navbar-fixed-top(ng-controller='NavbarCtrl', ng-hide="'main' | isState")
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only {{ 'navbar.link.toggler' | translate }}
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref="main")   
        img(src="assets/images/site-logo-bordered.svg", height="60px", alt="Rentswatch")

    .navbar-collapse(ng-class="{ collapse: isCollapsed }")
      ul.nav.navbar-nav(ng-click="isCollapsed = true")
        li(ui-sref-active="active")
          a(ui-sref='main.dashboard({city: null})')
            | {{ 'navbar.link.dashboard' | translate }}
        li(ui-sref-active-eq="active")
          a(ui-sref='main.quiz') 
            | {{ 'navbar.link.quiz' | translate }}
        li
          a(href="http://blog.rentswatch.com", target="_blank")
            | {{ 'navbar.link.blog' | translate }}
        li
          a(href="http://api.rentswatch.com", target="_blank")
            | {{ 'navbar.link.api' | translate }}
      ul.nav.navbar-nav
        li(uib-dropdown)
          a(uib-dropdown-toggle, href="")
            | {{ 'navbar.link.language' | translate }} <span class="caret"></span>
          ul(uib-dropdown-menu)
            li(ng-class="{ active: use() === 'fr' }")
              a(ng-click="use('fr')", href="")
                | Français

            li(ng-class="{ active: use() === 'en' }")
              a(ng-click="use('en')", href="")
                | English

            li(ng-class="{ active: use() === 'es' }")
              a(ng-click="use('es')", href="")
                | Deutch
