div(ng-include='"components/navbar/navbar.html"')

.ui-view
  .main
    .main__intro    
      .main__intro__languages
        div(uib-dropdown)
          a(uib-dropdown-toggle, href="")
            | {{ 'navbar.link.language' | translate }} <span class="caret"></span>
          ul.dropdown-menu-right(uib-dropdown-menu)
            li(ng-class="{ active: main.use() === 'fr' }")
              a(ng-click="main.use('fr')", href="")
                | Français

            li(ng-class="{ active: main.use() === 'en' }")
              a(ng-click="main.use('en')", href="")
                | English

            li(ng-class="{ active: main.use() === 'de' }")
              a(ng-click="main.use('de')", href="")
                | Deutsch

      img.main__intro__logo(src="assets/images/site-logo-bordered.svg", width="150")
      h2.main__intro__heading
        | Rentswatch
      p.main__intro__punchline
        | {{ 'main.intro.punchline' | translate }}<br />
        span.lead(ng-bind-html="'main.intro.by' | translate")
        
    .main__links(screen-height)
      a.main__links__pan.main__links__pan--1(ui-sref="main.quiz")
        .main__links__pan__wrapper
          h2.main__links__pan__heading
            span(ng-bind-html="'main.links.quiz.heading' | translate")
          p.main__links__pan__description
            span(ng-bind-html="'main.links.quiz.description' | translate")
          span.main__links__pan__btn.btn.btn-outline
            span(ng-bind-html="'main.links.view' | translate")
      a.main__links__pan.main__links__pan--2(ui-sref="main.dashboard")
        .main__links__pan__wrapper
          h2.main__links__pan__heading
            span(ng-bind-html="'main.links.dashboard.heading' | translate")
          p.main__links__pan__description
            span(ng-bind-html="'main.links.dashboard.description' | translate")
          span.main__links__pan__btn.btn.btn-outline
            span(ng-bind-html="'main.links.view' | translate")
      a.main__links__pan.main__links__pan--3(href="http://blog.rentswatch.com")
        .main__links__pan__wrapper
          h2.main__links__pan__heading
            span(ng-bind-html="'main.links.blog.heading' | translate")
          p.main__links__pan__description
            span(ng-bind-html="'main.links.blog.description' | translate")
          span.main__links__pan__btn.btn.btn-outline
            span(ng-bind-html="'main.links.view' | translate")
      a.main__links__pan.main__links__pan--4(href="http://api.rentswatch.com")
        .main__links__pan__wrapper
          h2.main__links__pan__heading
            span(ng-bind-html="'main.links.api.heading' | translate")
          p.main__links__pan__description
            span(ng-bind-html="'main.links.api.description' | translate")
          span.main__links__pan__btn.btn.btn-outline
            span(ng-bind-html="'main.links.view' | translate")
    .main__video
      h2.main__video__heading {{ 'main.understand-rentswatch' | translate }}
      .main__video__iframe
      <iframe width="560" height="315" src="https:" frameborder="0" allowfullscreen></iframe>
        iframe(frameborder="0",
          src="//www.youtube.com/embed/_a7g69kXn_o?cc_load_policy=1&amp;hl=fr&amp;cc_lang_pref=fr",
          width="100%",
          height="100%",
          webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
    footer.main__outro
      .row
        .col-md-6
          a.main__outro__miz(href="http://www.miz-babelsberg.de/", target="_blank")
            img(src="assets/images/miz-logo.svg", width="100%")
        .col-md-6
          .main__outro__legal(ng-bind-html="'main.outro.legal' | translate")
