.main {

  overflow: hidden;

  &__intro {
    text-align: center;
    background:@brand-primary 40px bottom no-repeat;
    background-size: 250px auto;
    padding:40px 0;
    margin-bottom:-40px;
    position: relative;
    z-index:110;
    filter: drop-shadow(0 0 20px fade(black, 40));

    a { color: mix(@brand-primary, white); }

    &__heading {
      .sr-only();
    }

    &__logo {
      display: block;
      margin: auto;
    }

    &__punchline {
      padding-top:30px;
      font-size:1.3em;
      font-weight:800;
      max-width: 250px;
      color: white;
      display: inline-block;
      text-transform: uppercase;
      .lead { font-size:1em; }
    }


    &:after, &:before {
      content:"";
      z-index:-1;
      position: absolute;
      top:100%;
      left:0;
      right:0;
      height:40px;
      background-color: @brand-primary;
      transform-origin: top left;
      transform: rotate(-2deg) translateX(-10px);
    }

    &:before {
      transform-origin: top right;
      transform: rotate(2deg) translateX(10px);;
    }

  }

  &__links {
    text-align:center;
    position:relative;
    z-index:90;
    background:url("../assets/images/buildings.png") right bottom repeat-x @body-bg;
    background-size:auto 350px;


    @media (max-width: @screen-md) {
      min-height:auto !important;
      height:600px;
      width:100%;

      body &__pan {
        height:50%;
        width:50%;

        &__wrapper {
          bottom:10%;
          .translate(50%, 0);
        }

        &__btn {
          margin-top:10px;
          opacity: 1;
          .scale(1);
        }
      }
    }

    @media (max-width: @screen-sm) {

      padding-top:60px;
      height:auto;

      body &__pan {
        position:static;
        height:auto;
        width:100%;
        background: transparent;
        &__wrapper, &__wrapper:hover {
          padding:30px 10px;
          position:static;
          .translate(0, 0) !important;
        }
      }
    }

    &__pan {
      position:absolute;
      width:25%;
      height:100%;
      color:@text-color;
      animation: fade-in-top 0.8s;
      animation-fill-mode: forwards;
      .animation-delay-loop(0, 4, 200ms);
      opacity: 0;
      .translate3d(0, 0, 0);

      &:hover, &:active, &:focus {
        color:inherit;
        text-decoration: none;
      }

      &--1 {
        left:0; top:0;
        #gradient > .vertical(fade(black, 20%), transparent, 0%, 70%);
      }
      &--2 {
        left:25%; top:0;
        #gradient > .vertical(fade(black, 30%), transparent, 0%, 70%);
        @media (max-width: 990px) { left:50%; }
      }
      &--3 {
        left:50%; top:0;
        #gradient > .vertical(fade(black, 40%), transparent, 0%, 70%);

        @media (max-width: 990px) {
          left:0%; top: 50%;
          #gradient > .vertical(fade(black, 30%), transparent, 0%, 70%);
        }
      }
      &--4 {
        left:75%; top:0;
        #gradient > .vertical(fade(black, 50%), transparent, 0%, 70%);

        @media (max-width: 990px) {
          left:50%; top: 50%;
          #gradient > .vertical(fade(black, 20%), transparent, 0%, 70%);
        }
      }

      &__wrapper {
        position:absolute;
        right:50%;
        bottom:50%;
        .translate(50%, 50%);
        .transition(0.3s);
      }

      &__heading {
        font-size:1.4em;
        font-weight: bold;
      }

      &__btn {
        opacity:0;
        .scale(0);
        .transition(0.3s);
      }

      &:hover &__wrapper {
        .translate(50%, 0%,);
      }

      &:hover &__btn {
        opacity: 1;
        .scale(1);
      }
    }
  }


  &__outro {
    padding:60px;
    position:relative;
    z-index:100;
    color:white;
    text-align: left;
    background:  #211F30;
    color:  mix(#211F30, white, 30);
    a { color: mix(#211F30, white); }

    &__miz {

      img {
        max-width:300px;
        width:100%;
        filter: brightness(70%);
      }
    }

    &__legal {
      padding-top:15px;
      max-width:400px;
    }
  }
}
