div(ng-include='"components/navbar/navbar.html"')

.ui-view
  .main
    .main__intro
      img.main__intro__logo(src="assets/images/site-logo-bordered.svg", width="150")
      h2.main__intro__heading
        | Rentswatch
      p.main__intro__punchline
        | All rents, all over Europe, in real time.<br />
        span.lead By <a href="http://jplusplus.org" target="_blank">Journalism++</a>
        
    .main__links(screen-height)
      a.main__links__pan.main__links__pan--1(ui-sref="main.dashboard")
        .main__links__pan__wrapper
          h2.main__links__pan__heading
            | What about your city?
          p.main__links__pan__description
            | An inventory of the renting industry in the biggest European cities.
          span.main__links__pan__btn View
      a.main__links__pan.main__links__pan--2(ui-sref="main.quiz")
        .main__links__pan__wrapper
          h2.main__links__pan__heading
            | What about you?
          p.main__links__pan__description
            | You rent price might be too high. You deserve to know how much!
          span.main__links__pan__btn View
      a.main__links__pan.main__links__pan--3(href="http://blog.rentswatch.com")
        .main__links__pan__wrapper
          h2.main__links__pan__heading
            | Stay tuned!
          p.main__links__pan__description
            | Read our blog for more news and insights about Rentswatch.
          span.main__links__pan__btn View
      a.main__links__pan.main__links__pan--4(href="http://api.rentswatch.com")
        .main__links__pan__wrapper
          h2.main__links__pan__heading
            | Developer API
          p.main__links__pan__description
            | We want developers and partners to be able to build 
            | great stories with our database.
          span.main__links__pan__btn View
          
    footer.main__outro
      .row
        .col-md-6
          a.main__outro__miz(href="http://www.miz-babelsberg.de/", target="_blank")
            img(src="assets/images/miz-logo.svg", width="100%")
        .col-md-6
          .main__outro__legal
            | Insert here legal mention about the ownership of data and the code.
            | Links to Github and Twitter might be good too.
